<!DOCTYPE html>
<html>
	<head>
		<link href="/assests/styles.css" rel="stylesheet" type="text/css"/>
	</head>	
	<body>
		<% include partials/nav.ejs %>
		<h1>Welcome!</h1>
		<p>This is Debaditya Dey!</p>
	</body>
</html>